{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <div class="container align-items-center">
        <h1 class = "text-center">Все курсы</h1>
        <div class="row">
            {% for course in courses %}
                <div class = "col-1"></div>
                <div class="card col-4  mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description }}.</p>
                        <a href="{{ path('course_show', {'id': course.id}) }}">Подробнее</a>
                    </div>
                </div>
                <div class = "col-1"></div>
            {% endfor %}
        </div>
        <a class="btn btn-primary" href="{{ path('course_new') }}">Создать курс</a>
    </div>
{% endblock %}
