{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <div class = "container mb-3">
        <h1 class = "text-center">Создать новый курс</h1>

        {{ include('course/_form.html.twig') }}

        <a class="btn btn-primary mt-3" href="{{ path('course_index') }}">Вернуться к списку курсов</a>
    </div>
{% endblock %}
