{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <div class = "container mb-3">
        <h1 class = "text-center">Обновить урок</h1>

        {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary mt-3" href="{{ path('course_show', {'id' : lesson.course.id}) }}">Вернуться на курс</a>

        {{ include('lesson/_delete_form.html.twig') }}
    </div>
{% endblock %}
