{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <div class = "container mb-3">
        <h1 class = "text-center">Создать новый урок</h1>

        {{ include('lesson/_form.html.twig') }}

        <a class="btn btn-primary mt-3" href="{{ path('course_show', {'id' : course.id}) }}">Вернуться на курс</a>
    </div>
{% endblock %}
